<div class="input-group mb-3">
    <label for="name" class="input-group-text">Name: </label>
    <input type="text" name="name" value="Sean" class="form-control"/>
</div>
<div class="input-group mb-3">
    <label for="email" class="input-group-text">Email: </label>
    <input type="text" name="email" value="21" class="form-control"/>
</div>

<input type="submit" value="POST" class="btn btn-success">