<a href="/form" class="btn btn-primary m-3 btn-sm">To Form</a>

{{#each obj}}
    <ul class="nav flex-column ms-3 me-3">
        <li class="nav-item">Name: {{this.name}}</li>
        <li class="nav-item">Age: {{this.email}}</li>
        <li class="nav-item">Created At: {{this.subDate}}</li>
    </ul>
{{/each}}